.title {
    font-size: 2.3em;
    font-weight: bold;
    text-align: center;
    margin-top: 100px; /* 상단 여백 */
    margin-bottom: 80px; /* 하단 여백 */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-form .form-control {
    width: 700px;  /* 원하는 폼 길이로 조절 */
}

.create-member-button {
    width: 46%;  /* 버튼의 너비 */
    height: 50px;  /* 버튼의 높이 */
    margin-left: 0px;
    margin-right: 55px;
}

.create-member-button-back {
    width: 46%;  /* 버튼의 너비 */
    height: 50px;  /* 버튼의 높이 */
}

.detail-member-button-edit {
    width: 30%;  /* 버튼의 너비 */
    height: 50px;  /* 버튼의 높이 */
    margin-left: 0px;
    margin-right: 0px;
}

.detail-member-button-list {
    width: 30%;  /* 버튼의 너비 */
    height: 50px;  /* 버튼의 높이 */
    margin-left: 35px;
    margin-right: 35px;
}

.detail-member-button-delete {
    width: 30%;  /* 버튼의 너비 */
    height: 50px;  /* 버튼의 높이 */
    margin-left: 0px;
    margin-right: 0px;
}
